.view-section {
  display: flex;
  flex-direction: column;
  height: 35vh;
  margin: 10vh 0 20vh;
  overflow: hidden;
  .section-2{
    position: absolute;
    width: 100%;
    overflow-y: visible;
    left: -7vw;
    h1 {
      font-size: 8vw;
      line-height: 80%;
      white-space: nowrap;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
      font-weight: bold;
      font-family: Saonara, serif;
      z-index: -1;
      width: 300%;
      color: #8E6E35;
    }
    .section-2-button{
      position: relative;
      width: 100%;
      z-index: 10;
    }
  }
  
}

