@font-face { font-family: Bisdak; src: url('../assets/fonts/Bisdak.otf');};
@font-face { font-family: Coachella; font-weight: 100; src: url('../assets/fonts/Coachella Thin.otf');};
@font-face { font-family: Coachella; font-weight: light; src: url('../assets/fonts/Coachella Bold.otf');};
@font-face { font-family: Coachella; font-weight: regular; src: url('../assets/fonts/Coachella Regular.otf');};
@font-face { font-family: Saonara; font-weight: regular; src: url('../assets/fonts/Saonara.otf');};
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");

@import "../breakpoints/breakpoints.scss";

$bg-color: #EFE9D0;

body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  &:-webkit-scrollbar {
    display: none;
    scrollbar-width: thin;
  }
}

.main-container {
  padding: 0;
  &:-webkit-scrollbar {
    display: none;
    scrollbar-width: thin;
  }
  @include media("<=phone") {
    /*HEADER*/
    .header-container{
      padding-top: 80px;
      #lower-div{
        #header-name{
          #name{
            line-height: 40%;
            #span-1{
              font-size: 17vw;
            }
            #span-2{
              font-size: 25vw;
            }
          }
        }
        #header-arrow{
          padding-top: 100px;
        }
      }
    }
    /*ABOUT*/
    .about-section {
      margin-bottom: 5vh;
      #section-header{
        display: none;
      }
      .section-0 {
        grid-template-columns: 1fr;
        gap: 20px;
        .about-text{
          #headline{
            flex-wrap: wrap;
            font-size: 14px;
            width: 280px;
            span {
              font-weight: 200;
            }
          }
        }
        .about-image{
          width: 280px;
          height: 206px;
          img{
            width: 280px;
          }
        }
      }
    }
    /*GALLERY*/
    /*VIEW SECTION*/
    .view-section{
      .section-2{
        h1{
          font-size: 29vw;
        }
      }
      .section-2-button{
        .button-projects{
          .button-1{
            width: 30vh;
            height: 30vh;
          }
          .button--calypso{
            font-size: 1.2rem;
          }
        }
      }
    }
    /*TECH STACK*/
    .featured-section{
      .section-5{
        h2{
          font-size: 4.5rem;
          line-height: 3.2rem;
        }
        span{
          font-size: 15px;
          margin-bottom: 30px;
        }
        .stack-container{
          .stack{
            .stack-image{
              gap: 0.2rem;
              img {
                width: 60px;
                height: 60px;
              }
            }
            .stack-title{
              font-size: 10px;
            }
          }
        }
      }
    }
    /*FOOTER*/
    .footer{
      .nav-footer{
        padding: 0px;
      }
      .contacts{
        margin-top: 120px;
        .title-1, .title-2{
          font-size: 18vw;
          letter-spacing: 1px;
        }
        .title-1{
          margin-left: 0vw;
        }
        .title-2{
          margin-right: 0vw;
        }
        .arrow{
          font-size: 10vw;
        }
        .button-wrapper{
          flex-direction: column;
          .button-footer{
            .button-1{
              font-size: 16px;
              width: 200px;
              height: 50px;
            }
          }
        }
      }
      .contacts-info{
        margin-top: 80px;
        font-size: 12px;
        padding: 0 13px;
        .socials{
          justify-content: space-between;
          width: 100%;
        }
        .copyright{
          display: none;
        }
      }
    }
  }
  @include media(">phone", "<=425px") {
    /*HEADER*/
    .header-container{
      padding-top: 80px;
      #lower-div{
        #header-name{
          #name{
            line-height: 40%;
            #span-1{
              font-size: 16vw;
            }
            #span-2{
              font-size: 24vw;
            }
          }
        }
        #header-arrow{
          padding-top: 100px;
        }
      }
    }
    /*ABOUT*/
    .about-section {
      margin-bottom: 5vh;
      #section-header{
        display: none;
      }
      .section-0 {
        grid-template-columns: 1fr;
        gap: 20px;
        .about-text{
          #headline{
            flex-wrap: wrap;
            font-size: 19px;
            width: 380px;
            span {
              font-weight: 200;
            }
          }
        }
        .about-image{
          width: 380px;
          height: 279px;
          img{
            width: 380px;
          }
        }
      }
    }
    /*GALLERY*/
    /*VIEW SECTION*/
    .view-section{
      .section-2{
        h1{
          font-size: 26vw;
        }
      }
      .section-2-button{
        .button-projects{
          .button-1{
            width: 30vh;
            height: 30vh;
          }
          .button--calypso{
            font-size: 1.2rem;
          }
        }
      }
    }
    /*TECH STACK*/
    .featured-section{
      .section-5{
        h2{
          font-size: 4.5rem;
          line-height: 3.2rem;
        }
        span{
          font-size: 15px;
          margin-bottom: 30px;
        }
        .stack-container{
          .stack{
            .stack-image{
              gap: 0.2rem;
              img {
                width: 70px;
                height: 70px;
              }
            }
            .stack-title{
              font-size: 10px;
            }
          }
        }
      }
    }
    /*FOOTER*/
    .footer{
      .nav-footer{
        padding: 0px;
      }
      .contacts{
        margin-top: 100px;
        .title-1, .title-2{
          font-size: 18vw;
          letter-spacing: 1px;
        }
        .title-1{
          margin-left: 0vw;
        }
        .title-2{
          margin-right: 0vw;
        }
        .arrow{
          font-size: 10vw;
        }
        .button-wrapper{
          flex-direction: column;
          .button-footer{
            .button-1{
              font-size: 16px;
              width: 200px;
              height: 50px;
            }
          }
        }
      }
      .contacts-info{
        margin-top: 50px;
        font-size: 12px;
        padding: 0 13px;
        .socials{
          justify-content: space-between;
          width: 100%;
        }
        .copyright{
          display: none;
        }
      }
    }
  }
  @include media(">=tablet", "<desktop") {
    /*HEADER*/
    .header-container{
      padding-top: 40px;
      #lower-div{
        #header-name{
          #name{
            line-height: 65%;
            #span-1{
              font-size: 13vw;
            }
            #span-2{
              font-size: 20vw;
            }
          }
        }
        #header-arrow{
          padding-top: 70px;
        }
      }
    }
    /*ABOUT*/
    .about-section {
      margin-bottom: 5vh;
      .section-0 {
        gap: 20px;
        .about-text{
          #headline{
            flex-wrap: wrap;
            font-size: 17px;
            width: 350px;
            span {
              font-weight: 300;
            }
          }
        }
        .about-image{
          width: 350px;
          height: 256px;
          img{
            width: 350px;
          }
        }
      }
    }
    /*GALLERY*/
    /*VIEW SECTION*/
    .view-section{
      .section-2{
        h1{
          font-size: 14vw;
        }
      }
      .section-2-button{
        .button-projects{
          .button-1{
            width: 30vh;
            height: 30vh;
          }
          .button--calypso{
            font-size: 1.2rem;
          }
        }
      }
    }
    /*TECH STACK*/
    .featured-section{
      .section-5{
        h2{
          font-size: 4.5rem;
          line-height: 3.2rem;
        }
        span{
          font-size: 15px;
          margin-bottom: 60px;
        }
        .stack-container{
          .stack{
            .stack-image{
              gap: 0.2rem;
              img {
                width: 110px;
                height: 110px;
              }
            }
            .stack-title{
              font-size: 12px;
            }
          }
        }
      }
    }
    /*FOOTER*/
    .footer{
      .nav-footer{
        padding: 0px;
      }
      .contacts{
        margin-top: 70px;
        .title-1, .title-2{
          font-size: 12vw;
          letter-spacing: 1px;
        }
        .title-1{
          margin-left: 0vw;
        }
        .title-2{
          margin-right: 0vw;
        }
        .button-wrapper{
          .button-footer{
            .button-1{
              font-size: 20px;
              width: 250px;
              height: 60px;
            }
          }
        }
      }
    }
  }
}

section {
  padding: 30px 5vw;
}

.absolute {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 1;
  overflow: hidden;
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  color: #dbd8d6;
  z-index: 2;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  .loader-bg {
    opacity: 0.2;
    line-height: 180px;
    margin: 0;
    padding: 0;
    color: #646464;
    font-size: 200px;
    font-family: "Poppins";
    white-space: nowrap;
    overflow-y: visible;
    left: -7vw;
    width: 500%;
    letter-spacing: 10px;
  }
  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    visibility: hidden;
    h1 {
      font-size: 100px;
      font-weight: 200;
      color: #8e6e35;
      font-family: "Bodoni Moda", serif;
      display: inline-block;
    }
  }
  @include media("<=phone") {
    .loader-bg {
      line-height: 180px;
      font-size: 60px;
      letter-spacing: -6px;
    }
    .intro {
      h1 {
        font-size: 50px;
      }
    }
  }
  @include media(">phone", "<=425px") {
    .loader-bg {
      line-height: 180px;
      font-size: 60px;
      letter-spacing: -6px;
    }
    .intro {
      h1 {
        font-size: 45px;
      }
    }
  }
  @include media(">=tablet", "<desktop") {
    .loader-bg {
      line-height: 230px;
      font-size: 100px;
      letter-spacing: 2px;
    }
  }
}

.marquee1 {
  animation : slide2 10s ease -4s infinite;
}
.marquee2 {
  animation : slide1 10s ease -2s infinite reverse;
}
.marquee3 {
  animation : slide2 10s ease -5s infinite;
}
.marquee4 {
  animation : slide2 10s linear infinite reverse;
}

@keyframes slide1 {
  0% {
    transform: translatex(0%)
  }

  100% {
    transform: translatex(100%)
  }
}

@keyframes slide2 {
  0% {
    transform: translatex(100%)
  }

  100% {
    transform: translatex(0%)
  }
}


/* Page Loader */
.loading:before,
.loading:after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.loading:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $bg-color;
}

.loading:after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: #000;
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}