.featured-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #E3DACD;
  .section-5 {
    text-align: center;
    h2 {
      font-family: "Saonara", serif;
      font-size: 7rem;
      margin: 60px 0 10px;
      color: #2D2B2C;
      text-transform: uppercase;
    }
    span {
      font-family: "Poppins";
      font-weight: 200;
      font-size: 18px;
      margin-bottom: 90px;
      display: inline-block;
    }
    .stack-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.3rem;
      justify-content: space-evenly;
      .stack {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        .stack-image {
          gap: 2rem;
          img {
            width: 130px;
            height: 130px;
          }
        }
        .stack-title {
          font-size: 13px;
          text-transform: uppercase;
        }
      }
    }
    
  }
  
  .section-4 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    
    img {
      clip-path: inset(100% 0% 0% 0%);
      transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
      &.is-reveal {
        clip-path: inset(0% 0% 0% 0%);
      }
    }

    h6 {
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .featured-row-layout,
    .featured-column-layout {
      display: grid;
      gap: 10px;
    }

    .featured-row-layout {
      grid-template-rows: repeat(2, auto);

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .featured-column-layout {
      grid-template-columns: 100px auto;
      align-items: flex-end;
      img {
        width: 100%;
        height: 125vh;
        object-fit: cover;
      }
      h6 {
        transform: translateX(100%) rotate(-90deg);
        transform-origin: left bottom;
        justify-self: self-end;
      }
    }
  }

}
