.button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  
    button:focus {
      /* Provide a fallback style for browsers
       that don't support :focus-visible */
      outline: none;
    }
    
    button:focus-visible {
      /* Draw a very noticeable focus style for
       keyboard-focus on browsers that do support
       :focus-visible */
      //outline: 2px solid #000;
      outline: 2px solid #efe9d0;
      outline-offset: 3px;
    }
  
    .button-1 {
    pointer-events: auto;
    cursor: pointer;
    //background: #EFE9D0;
    background: #000;
    border: 1px solid ;
    padding: 10px;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: inherit;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 60px;
  }
  
  .button-1:before,
  .button-1:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .button--calypso {
    overflow: hidden;
    font-size: 25px;
    border-radius: 50px;
    //color: #fff;
    color: #8E6E35;
  }
  
  .button--calypso span {
    display: block;
    position: relative;
    mix-blend-mode: difference;
    z-index: 10;
  }
  
  .button--calypso:hover span {
    animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
  }
  
  @keyframes MoveScaleUpInitial {
    to {
      transform: translate3d(0,-105%,0) scale3d(1,2,1);
      opacity: 0;
    }
  }
  
  @keyframes MoveScaleUpEnd {
    from {
      transform: translate3d(0,100%,0) scale3d(1,2,1);
      opacity: 0;
    }
    to {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  
  .button--calypso:before {
    content: '';
    //background: #000;
    background: #8E6E35;
    width: 120%;
    height: 0;
    padding-bottom: 120%;
    top: -110%;
    left: -10%;
    border-radius: 50%;
    transform: translate3d(0,68%,0) scale3d(0,0,0);
  }
  
  .button--calypso:hover:before {
    transform: translate3d(0,0,0) scale3d(1,1,1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }
  
  .button--calypso:after {
    content: '';
    //background: #000;
    background: #8E6E35;
    transform: translate3d(0,-100%,0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }
  
  .button--calypso:hover:after {
    transform: translate3d(0,0,0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
    transition-timing-function: linear;
  }
}
  