@import "../../breakpoints/breakpoints.scss";

body {
  height: 100vh;
}

.scrollbar-thumb {
  background: rgba(119, 119, 119) !important;
}

.scrollbar-track {
  background: none !important;
}

h2 {
  text-align: center;
  font-family: "Saonara", serif;
  font-size: 11rem;
  margin: 0px auto;
  color: #2D2B2C;
  .outline {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}

.projects {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  opacity: 0;
  &:-webkit-scrollbar {
    display: none;
    scrollbar-width: thin;
  }
  .projects-hero{
    visibility: visible;
    height: 95vh;
    display: flex;
    flex-direction: column;
    .hero-nav{
      text-align: center;
      width: 100%;
      height: 9%;
      letter-spacing: 1px;
      font-weight: 400;
      text-transform: uppercase;
      top: 0;
      opacity: 0;
      a {
        position: relative;
        color: #8e6e35;
        line-height: 30px;
        font-family: "Bisdak";
        font-size: 13px;
        &:after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          right: 0;
          height: 1px;
          background: #8e6e35;
          transform: scaleX(0);
          transition: transform 150ms ease-in-out;
        }
        &:hover:after {
          transform: scaleX(1);
        }
        &:link {
          text-decoration: none;
        }
      }
    }
    #hero-content{
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      &__text, &__arrow {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
      &__text {
        height: 60%;
        opacity: 0;
      }
      &__arrow {
        height: 40%;
        opacity: 0;
      }
      img {
        position: absolute;
        transform-origin: center;
      }
      &__image1 {
        width: 300px;
        left: 16%;
        bottom: 14%;
        opacity: 0;
      }
      &__image2 {
        width: 300px;
        right: 4%;
        top: 4%;
        opacity: 0;
      }
      &__image3 {
        max-width: 400px;
        width: 40%;
        right: 10%;
        bottom: 4%;
        opacity: 0;
      }
      &__image4 {
        width: 400px;
        left: 4%;
        top: 12%;
        opacity: 0;
      }
      &__image5 {
        width: 500px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }
  }
  .projects-item {
    background-color: #000;
    position: relative;
    .img-container {
      width: 800px;
      height: 380px;
      overflow: hidden;
      position: relative;
      margin: -120px auto 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0px;
      &:nth-child(1) {
        margin-top: 300px;
      }
      &:last-child {
        margin-bottom: 200px;
      }
      @media (max-width: 480px) {
        width: 95%;
      }
      img {
        width: 100%;
        position: absolute;
        cursor: pointer;
      }
    }
    .projects-item-index {
      margin-left: 30px;
      margin-top: 10px;
      display: flex;
      font-size: 17vw;
      font-family: "Bodoni Moda", serif;
      line-height: 0.7;
      color: #8e6e35;
    }
    .projects-info-title {
      display: flex;
      justify-content: flex-end;
      font-size: 3.2rem;
      font-family: "Coachella", serif;
      font-weight: 400;
      margin-bottom: 20px;
      position: absolute;
      transform: rotate(90deg);
      top: 360px;
      color: #8e6e35;
      right: 280px;
      transform-origin: bottom right;
    }
    
  }
  .projects-item-info {
    padding: 0 20vw;
    height: 0vw;
    position: relative;
    top: -340px;
    
    .projects-info-subtitle {
      font-family: "Poppins";
      font-weight: 300;
      font-size: 1rem;
      text-indent: 70px;
      text-align: justify;
      text-justify: inter-word;
      line-height: normal;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .projects-links{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      a{
        text-transform: uppercase;
        font-weight: 500;
        text-decoration-line: underline;
        color: inherit;
        font-size: 13px;
      }
    }
    .horizontal-line {
      border-bottom: 1px solid #686868;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;

    }
    .projects-info-stack {
      display: flex;
      margin-top: 20px;
      .projects-info-icon {
        margin: 10px 20px 0 0;
        height: 36px;
        width: 95px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #000;border-radius: 50px;
        .icon {
          padding: 5px;
          border-radius: 50%;
          background-color: #000;
          color: #FFF;
        }
        .icon-name {
          margin: 0 auto;
          padding: 4px 10px 4px 4px;
          font-size: 12px;
        }
      }
    }
  }
  @include media("<=phone") {
    h2{
      font-size: 3.5rem;
    }
    .projects-hero{
      .projects-hero{
        .hero-nav{
          height: 11%;
        }
      }
      #hero-content{
        &__text{
          height: 40%;
        }
        &__arrow{
          height: 48%;
        }
        &__image1 {
          width: 250px;
          left: 1%;
          bottom: 9%;
        }
        &__image2{
          max-width: 400px;
          width: 70%;
          top: 0%;
          left: 1%;
        }
        &__image3 {
          max-width: 400px;
          width: 40%;
          right: 3%;
          bottom: 2%;
          opacity: 0;
        }
        &__image4 {
          max-width: 400px;
          width: 50%;
          left: 4%;
          top: 12%;
        }
        &__image5{
          width: 350px;
        }
      }
    }
    .projects-item{
      .img-container{
        height: 210px;
        margin: -30px auto 400px;
      }
      .projects-item-index{
        font-size: 25vw;
        margin-left: 10px;
      }
      .projects-info-title{
        font-size: 1.5rem;
        transform: rotate(0deg);
        top: 210px;
        right: 14px;
      }
    }
    .projects-item-info{
      padding: 0 8vw;
      top: -380px;
      .projects-info-subtitle{
        font-size: 0.8rem;
      }
      .projects-info-stack{
        margin-top: 7px;
        .projects-info-icon{
          margin: 0 2px 0 0;
          height: 28px;
          .icon{
            padding: 1px;
          }
          .icon-name{
            font-size: 8px;
            padding: 4px 4px 4px 1px;
          }
        }
      }
    }
  }
  @include media(">phone", "<=425px") {
    h2{
      font-size: 5rem;
    }
    .projects-hero{
      .projects-hero{
        .hero-nav{
          height: 11%;
        }
      }
      #hero-content{
        &__text{
          height: 40%;
        }
        &__arrow{
          height: 48%;
        }
        &__image1 {
          width: 250px;
          left: 1%;
          bottom: 9%;
        }
        &__image2{
          max-width: 400px;
          width: 70%;
          top: 0%;
          left: 1%;
        }
        &__image3 {
          max-width: 400px;
          width: 40%;
          right: 3%;
          bottom: 2%;
          opacity: 0;
        }
        &__image4 {
          max-width: 400px;
          width: 50%;
          right: 1%;
          top: 12%;
        }
        &__image5{
          width: 350px;
        }
      }
    }
    .projects-item{
      .img-container{
        height: 260px;
        margin: -30px auto 400px;
      }
      .projects-item-index{
        font-size: 25vw;
        margin-left: 10px;
      }
      .projects-info-title{
        font-size: 1.5rem;
        transform: rotate(0deg);
        top: 270px;
        right: 14px;
      }
    }
    .projects-item-info{
      padding: 0 8vw;
      top: -380px;
      .projects-info-subtitle{
        font-size: 0.9rem;
      }
      .projects-info-stack{
        margin-top: 7px;
        .projects-info-icon{
          margin: 0 2px 0 0;
          height: 28px;
          .icon{
            padding: 1px;
          }
          .icon-name{
            font-size: 8px;
            padding: 4px 4px 4px 1px;
          }
        }
      }
    }
  }
  @include media(">=tablet", "<1024px") {
    h2{
      font-size: 8rem;
    }
    .projects-hero{
      .projects-hero{
        .hero-nav{
          height: 11%;
        }
      }
      #hero-content{
        &__text{
          height: 50%;
        }
        &__arrow{
          height: 48%;
        }
        &__image1 {
          width: 300px;
          left: 2%;
          bottom: 5%;
        }
        &__image3 {
          max-width: 400px;
          width: 40%;
          right: 10%;
          bottom: 4%;
          opacity: 0;
        }
        &__image2 {
          width: 300px;
          right: 4%;
          top: 2%;
        }
        &__image4 {
          width: 400px;
          left: 2%;
          top: 6%;
        }
      }
    }
    .projects-item{
      .img-container{
        height: 305px;
        margin: 10px auto 400px;
        img {
          width: 80%;
        }
      }
      .projects-item-index{
        font-size: 14vw;
        margin-left: 1px;
      }
      .projects-info-title{
        font-size: 2rem;
        top: 350px;
        right: 80px;
      }
    }
    .projects-item-info{
      padding: 0 10vw;
      top: -350px;
      .projects-info-subtitle{
        font-size: 0.9rem;
      }
    }
  }
  @include media(">=1024px", "<desktop") {
    h2{
      font-size: 8rem;
    }
    .projects-hero{
      .projects-hero{
        .hero-nav{
          height: 11%;
        }
      }
      #hero-content{
        &__text{
          height: 50%;
        }
        &__arrow{
          height: 48%;
        }
        &__image1 {
          width: 300px;
          left: 2%;
          bottom: 5%;
        }
        &__image3 {
          max-width: 400px;
          width: 40%;
          right: 10%;
          bottom: 4%;
          opacity: 0;
        }
        &__image2 {
          width: 300px;
          right: 4%;
          top: 2%;
        }
        &__image4 {
          width: 400px;
          left: 2%;
          top: 6%;
        }
      }
    }
    .projects-item{
      .img-container{
        height: 380px;
        margin: 10px auto 400px;
        img {
          width: 100%;
        }
      }
      .projects-info-title{
        font-size: 2.4rem;
        top: 450px;
        right: 130px;
      }
    }
    .projects-item-info{
      padding: 0 12vw;
    }
  }
}

.projects-overlay {
	grid-area: 1 / 1 / 2 / 2;
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	width: 100%;
	height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

