.footer {
  color: #8E6E35;
  text-align: center;
  height: 90vh;
  text-transform: uppercase;
    .contacts {
      margin-top: 60px;
      opacity: 0;
      visibility: hidden;
      &.is-reveal {
        opacity: 1;
      }
        .title-1, .title-2 {
          font-size: 10vw;
          font-weight: 100;
          letter-spacing: 10px;
          font-family: "Bodoni Moda", serif;
        } 
        .title-1 {
          text-align: left;
          margin-left: 10vw;
        }
        .title-2 {
          text-align: right;
          margin-right: 10vw;
        }
        .arrow {
          display: inline-block;
          font-family: "Saonara", serif;
          width: 70px;
          height: 70px;
          font-size: 4vw;
          font-weight: 100;
          margin-top: 10px;
        }
        .button-wrapper{
          height: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
  }

  .contacts-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    align-items: center;
      .socials {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        a { 
          color: inherit; 
          text-decoration-line: none;
          line-height: 30px;
        } 
        .socials-link {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: #fff;
            transform: scaleX(0);
            transition: transform 150ms ease-in-out;
          }
          &:hover:after {
            transform: scaleX(1);
          }
        }
      }
      .copyright {
        margin-top: 10px;
      }
    }
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 200;
  text-transform: uppercase;
  visibility: hidden;
}

.nav-footer a:link {
  text-decoration: none;
}

.nav-footer a {
  position: relative;
  color: #fff;
  line-height: 30px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}