.section-header {
  display: flex;
  flex-direction: column;
  margin: 70px auto 0;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Bodoni Moda", serif;
  color: #000;
  .section-header-title{
    display: flex;
    font-size: 13vw;
    justify-content: center;
  }
  .section-header-sub {
    display: flex;
    justify-content: flex-end;
    font-size: 5vw;
  }
}